body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .header {
    background-color: #8C7964;
    padding: 10px 20px;
  }
  .cart{
    margin-right:48px;
  }
  .user-dropdown{
    margin-right:32px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 280px;
  }
  
  .user-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .user-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
  }
  
  .user-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    display: none;
  }
  
  .user-dropdown-menu li {
    padding: 10px;
  }
  
  .user-dropdown:hover .user-dropdown-menu {
    display: block;
  }
  
  .cart {
    position: relative;
  }
  
  .cart img {
    width: 20px;
  }
  
  .main {
    display: flex;
  }
  
  .sidenav {
    width: 200px;
    background-color: #4D4337;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
    letter-spacing: -2px;
  }
  
  .category-button {
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
    color:white;
  }
  
  .category-button.active {
    background-color: #A69787;  /* Add styling for active category button */
    padding: 12px;
    border-radius: 8px;
  }
  
  .category-button:hover {
    padding: 8px;
    border-radius: 8px;
    background-color: #A69787;
  }
  
  .special-cakes-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    margin-top: 12px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
    color:white;
  }
  
  .special-cakes-button:hover {
    background-color: #A69787;
    padding: 8px;
    border-radius: 8px;
  }
  
  .content-area {
    display: grid;
    flex: 1;
    padding: 26px;
  }

  .add-to-cart-btn {
    background-color: #4D4337;
    border: none;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 22px;
    border-radius: 8px;
  }
  
  .add-to-cart-btn:hover {
    background-color: #A69787;
  }
  
  .product-container {
    display: none;  /* Initially hide all product containers */
  }
  
  .product-container.active {
    display: block;  /* Show the active product container */
  }
  
  .product-grid {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: -12px;  /* Remove margin from grid items */
  }
  
  .product-item {
    margin: 12px;
    padding: 8px;
    height: 428px;
    width: 338px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  #p-img {
    height: 224px;  /* Set height for each product image */
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  #desc{
    margin-top: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 0px;
    font-size: 16px;
    font-style: normal;
  }
  h2,h3{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: bold;
    letter-spacing: -2px;
  }